<div class="image-wrapper">
  <div class="_2up-left-vertical">
  </div>
  <div class="_2up-right-horizontal">
    <img class="image"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-left-horizontal">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-right-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-left-horizontal">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-right-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-left-vertical">
    <img class="image image-animate">
  </div>
  <div class="_2up-right-horizontal">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
</div>
