<div class="image-wrapper">
  <div class="_2up-left-horizontal">
    <img src="images/1-interior-prep/750_8052.jpg" class="image"/>
  </div>
  <div class="_2up-right-vertical">
    <img src="images/1-interior-prep/750_8054.jpg" class="image"/>
  </div>
</div>

<!-- house/exterior scene-setting -->

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3181.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3192.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3200.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/750_8334.jpg" class="image image-animate"/>
  </div>
</div>

<!-- interior scene-setting -->

<div class="image-wrapper ">
  <div class="_2up-horizontal">
    <img src="images/1-interior-prep/DSC_6005.jpg" class="image image-animate">
  </div>
  <div class="_2up-horizontal">
    <img src="images/1-interior-prep/750_8124.jpg" class="image image-animate">
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-horizontal">
    <img src="images/1-interior-prep/DSC_3499.jpg" class="image image-animate">
  </div>
  <div class="_2up-horizontal">
    <img src="images/1-interior-prep/DSC_3238.jpg" class="image image-animate">
  </div>
</div>

<!-- family entry -->

<div class="image-wrapper ">
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3278.jpg" class="image image-animate">
  </div>
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3328.jpg" class="image image-animate">
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/1-interior-prep/DSC_3286.jpg" class="image image-animate">
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/1-interior-prep/DSC_3290.jpg" class="image image-animate">
  </div>
</div>

<div class="image-wrapper ">
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3309.jpg" class="image image-animate">
  </div>
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/DSC_3362.jpg" class="image image-animate">
  </div>
</div>

<!-- signing certificate -->

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/1-interior-prep/750_8163.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/750_8152.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/1-interior-prep/750_8155.jpg" class="image image-animate"/>
  </div>
</div>

<!-- transition to outside -->

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/1-interior-prep/DSC_3216.jpg" class="image image-animate"/>
  </div>
</div>
