<!-- outside pre-ceremony -->

<div class="image-wrapper">
  <div class="_2up-left-vertical">
    <img src="images/1-interior-prep/DSC_3475.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-right-horizontal">
    <img src="images/1-interior-prep/DSC_3476.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper ">
  <div class="_2up-horizontal">
    <img src="images/1-interior-prep/DSC_3414.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-horizontal">
    <img src="images/1-interior-prep/DSC_3418.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper ">
  <div class="_1up">
    <img src="images/1-interior-prep/DSC_3436.jpg" class="image image-animate"/>
  </div>
</div>

<!-- ceremony walk-in -->

<div class="image-wrapper ">
  <div class="_2up-left-vertical">
    <img src="images/2-ceremony/DSC_3516.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-right-horizontal">
    <img src="images/2-ceremony/750_8186.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper ">
  <div class="_2up-horizontal">
    <img src="images/2-ceremony/750_8192.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-horizontal">
    <img src="images/2-ceremony/750_8194.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/2-ceremony/750_8200.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/2-ceremony/DSC_3528.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/2-ceremony/DSC_3537.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/2-ceremony/DSC_3542.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/2-ceremony/DSC_3559.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/2-ceremony/DSC_3560.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/2-ceremony/DSC_5999.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/2-ceremony/DSC_3270.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/2-ceremony/750_8238.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/1-interior-prep/DSC_3376.jpg" class="image image-animate"/>
  </div>
</div>
