<div class="image-wrapper ">
  <div class="_1up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_3up">
    <img class="image image-animate"/>
  </div>
  <div class="_3up">
    <img class="image image-animate"/>
  </div>
  <div class="_3up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-horizontal">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-horizontal">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-horizontal">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-horizontal">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_3up">
    <img class="image image-animate"/>
  </div>
  <div class="_3up">
    <img class="image image-animate"/>
  </div>
  <div class="_3up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img class="image image-animate"/>
  </div>
</div>
