<!-- post-ceremony -->

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/3-post/750_8094.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/3-post/750_8103.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/3-post/all-family-merged-final.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-left-vertical">
    <img src="images/3-post/DSC_6025.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-right-horizontal">
    <img src="images/3-post/750_8279.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_1up">
    <img src="images/3-post/750_8267.jpg" class="image image-animate"/>
  </div>
</div>

<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="images/3-post/DSC_6049.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="images/3-post/DSC_6055.jpg" class="image image-animate"/>
  </div>
</div>
