.footer {
  width: 100%;
  background-color: rgb(100, 100, 100);
  position: relative;
}

.footer-image {
  width: 100%;  
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1rem;

  @include media($small-up  ) {
    margin-bottom: .125rem;
  }

  @include media($medium-up  ) {
    margin-bottom: .5rem;
  }
}

.copyright-text {
  font-family: "Helvetica Neue", sans-serif;

  @include media($small-up  ) {
    font-size: .75rem;
  }

  @include media($medium-up  ) {
    font-size: 1rem;
  }
}

.copyright-link {
  margin-right: -2.5px;
  font-weight: 500;
}
